{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="col-12 col-lg-4 order-lg-last my-5">
    {% include 'components/summary.html' %}
</div>
<div class="col-12 col-lg-8 text-center my-5">
    {% include 'components/checkout_form.html' %}
</div>

<div id="loading-overlay">
    <div class="text-light loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </div>
</div>

{% endblock %}

{% block postload_js %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}