/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

:root{
    --main-color: #50C878;
    --btn-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.main-bg-color{
    background-color: var(--main-color) !important;
}

.main-color{
    color: var(--main-color) !important;
}

label.error{
    color: red;
}

/* ================ =============== GENERAL STYLING =============== ================ */
html, body {
    height: 100%;
    margin: 0;
  }

body{
    background: url('../../media/index-image1.png') no-repeat right center fixed;
    background-size: cover;
}

/* 
    Remove arrows on input type=number
    https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp 
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.input-group span{
    font-size: .75rem;
}

.remove-input-formatting{
    border: 0;
    outline: none;
    text-align: center;
    background-color: transparent;
}

.display-none{
    display: none;
}

textarea:focus, input:focus{
    outline: none;
}

.container{
    min-height: calc(100vh - 292px); /* subtracting footer, margin */
}

/* ================ =============== OVERLAY =============== ================ */

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #ffffff80;
    z-index: -1;
}

/* ================ =============== NAVIGATION =============== ================ */
.logo-font{
    font-family: 'Bungee Shade', serif;
}

/* Shadow taken from https://getcssscan.com/css-box-shadow-examples */
.main-nav{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.navigation-links a:hover,
.back-button:hover{
    padding: 0;
    border-bottom: 2px solid var(--main-color);
}

.main-header-link,
.main-header-link h2,
.main-header-link p,
.main-header-link a{
    color: #000;
    text-decoration: none;
}

.nav-link,
.nav-link i{
    color: #000;
}

.menu-icon,
.main-header-link h2{
    font-size: 2rem;
}

.grand-total span{
    font-size: .85rem;
    font-weight: 500;
}


/* ================ =============== PRODUCT =============== ================ */
/* Product Hero */

.product-hero{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#likes{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding: .25rem 1rem;
    /* Gradient made with help of https://cssgradient.io/ */
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,1) 100%);
}

#dislike_btn i,
#like_btn i{
    font-size: 1.25rem;
}

#dislike_btn,
#like_btn{
    border: none;
    background: none;
}

#like_btn{
    color: #fff;
    text-shadow: -1px -1px 0 var(--main-color), 1px -1px 0 var(--main-color), -1px 1px 0 var(--main-color), 1px 1px 0 var(--main-color);
}

#like_btn:hover{
    color: var(--main-color);
}

#dislike_btn{
    color: var(--main-color);
}

#dislike_btn:hover{
    color: #fff;
    text-shadow: -1px -1px 0 var(--main-color), 1px -1px 0 var(--main-color), -1px 1px 0 var(--main-color), 1px 1px 0 var(--main-color);
}

/* Product Name */
.product-name{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

/* Size selection */
/* How to style radio buttons idea was taken from here:
https://www.sliderrevolution.com/resources/styling-radio-buttons/*/

#size-selection input[type="radio"] {
    display: none;
  }

#size-selection label{
    cursor: pointer;
    display: block;
    background: #ffffff;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    padding: .5rem;
    transition: var(--btn-transition);

    /* This idea was taken from here: 
    https://stackoverflow.com/questions/8957443/prevent-copying-text-in-web-page */
    /* Remove text selection for users convenience */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#size-selection input[type="radio"]:checked + .size-label{
    background-color: var(--main-color);
}

/* Price */
.product-price{
    font-size: 2rem;
}

.dec-product-qty,
.inc-product-qty,
.add-to-order-button,
.order-now-btn{
	display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    padding: .5rem 1rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 3px 10px -2px #a1aaa680;
    line-height: 1.5;

    /* standard bootstrap btn transitions */
    transition: var(--btn-transition)
}

.dec-product-qty:hover,
.inc-product-qty:hover,
.add-to-order-button:hover,
#size-selection label:hover,
.order-now-btn:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: 0px 3px 10px -2px #a1aaa680;
    color: #000;
}

.order-now-btn{
    text-decoration: none;
    text-transform: uppercase;
}

.dec-product-qty,
.inc-product-qty{
    width: 3rem;
}

.product-qty{
    width: 5rem;
    font-size: 1.5rem;
    background: #fff;
}

/* ================ =============== TOASTS =============== ================ */
.message-container{
    z-index: 999999;
    display: flex;
    justify-content: end;
}

.item-toast-wrapper{
    max-height: 11rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ================ =============== CHECKOUT =============== ================ */
.order-confirm-border{
    border: 2px solid var(--main-color);
    border-radius: 15px;
}


/* ================ =============== ALLAUTH =============== ================ */
.allauth-form-content{
    width: 50vh;
    text-align: center;
}

.allauth-form-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-content a {
    color: #17a2b8; /* text-info */
}

#div_id_remember{
    text-align: start;
}

/* ================ =============== FORMS =============== ================ */

.allauth-form-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-content input,
#profile-update-form input,
.product-admin-form input,
.product-admin-form select,
#contactForm input,
#contactForm textarea{
    border: 2px solid var(--main-color);
    border-radius: 15px;
}

.allauth-form-content button,
.allauth-form-content input[type='submit'],
#profile-update-form button,
#profile-update-form input[type='submit']{
    /* btn */
	display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    padding: .5rem 1rem;
    text-align: center;
    background-color: #fff;
    line-height: 1.5;

    /* standard bootstrap btn transitions */
    transition: var(--btn-transition)
}

.allauth-form-content button:hover,
.allauth-form-content input[type='submit']:hover,
#profile-update-form button:hover,
#profile-update-form input[type='submit']:hover,
.form-check input:checked{
    background-color: var(--main-color);
    border-color: var(--main-color);
}


/* ================ =============== PRODUCT MANAGEMENT =============== ================ */

/* Toppings grouping */
#div_id_toppings .form-check{
    display: inline-block;
    width: 12rem;
}


/* Editable product image view */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ================ =============== BUSINESS INFO =============== ================ */

#map{
    min-height: 25rem;
    width: 100%;
    margin-bottom: 5rem;
}

#contactForm input{
    line-height: 2rem;
    margin-bottom: 1rem;
    width: 95%;
    outline: none;
}

/* ================ =============== FOOTER =============== ================ */

footer{
    box-shadow: rgba(0, 0, 0, 0.45) 0px -25px 20px -20px;
}
#footer{
    margin-top: 5rem;
    padding: 1rem 10rem;
}

#footer li{
    list-style: none;
}

#footer a{
    text-decoration: none;
}

.footer-center a{
    font-size: 2.5rem;
    color: var(--main-color);
}

.footer-center a:hover{
    color: #fff;
    text-shadow: -1px -1px 0 var(--main-color), 1px -1px 0 var(--main-color), -1px 1px 0 var(--main-color), 1px 1px 0 var(--main-color);
    transition: var(--btn-transition)
}

.footer-end a:hover{
    border-bottom: 2px solid var(--main-color);
}



/* ================ =============== MEDIA QUERIES =============== ================ */
@media (max-width: 768px) {
    .overlay{
        background: #ffffffbf;
    }

    .container{
        min-height: 90vh;
    }    

    .allauth-container{
        width: 100%;
    }
    
    .allauth-form-content {
        top: 60%;
        width: 100%;
        padding: 0 1rem;
    }
    .my-orders{
        padding-top: 3rem;
    }

    #map{
        height: 25rem; 
        width: 22rem; 
        margin: 0 auto;
    }
    #contactForm input{
        width: 100%;
    }

    #footer{
        padding: 1rem;
    }

    .footer-start{
        margin-bottom: 1rem;
    }
    .footer-center{
        margin: 1rem 0;
        font-size: 2.5rem;
    }
    .footer-end{
        margin-top: 1rem;
    }
}
@media (max-width: 480px) {
    .message-container{
        justify-content: center;
    }
}