<div class="row m-0">
    <div class="col-12 col-md-6 offset-md-1 text-center ">
        <h1 class="display-2 logo-font">PIZZA TIME</h1>
        {% for header in hero_header %}
            <h4 class="my-3">{{ header }}</h4>
        {% endfor %}
        {% for text in hero_text %}
            <p> {{ text }}</p>
        {% endfor %}
        <div>
            <h4>
                <a href="{% url 'products' %}?category=pizza" class="order-now-btn">Order Now</a>
            </h4>
        </div>
    </div>
</div>
