<div class="container">
    <div class="row container-welcome d-flex align-items-center">
        <div class="col-12 col-md-6 text-center">
            <h1 class="display-2 logo-font">PIZZA TIME</h1>
            <h4 class="my-3">It's time for pizza!</h4>
            <p>Who doesn’t love a pizza? Italy’s most popular export and the world’s favourite slice of hot and melty
                heaven. From the ovens of Naples to the streets of New York to the delivery bikes of Just Eat, pizza is
                the King Of The Takeaways. A crowd-pleasing, all-in-one, global sensation. Transformed by an
                ever-growing choice of toppings to cater for ever-changing tastes.</p>
            <div>
                <h4>
                    <a href="{% url 'products' %}?category=pizza" class="order-now-btn">Order Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
