{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Your Order</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if order_items %}
                <div class="table-responsive rounded-0">
                    <table class="table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Size</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in order_items %}
                            <tr>
                                <td>
                                    <img src="{{ item.product.image_path.url }}" alt="{{ item.product.name }}">
                                </td>
                                <td>
                                    <p>{{ item.product.display_name }}</p>
                                </td>
                                <td>
                                    <p>{{ item.price }}</p>
                                </td>
                                <td>
                                    <form class="form update-form" action="{% url 'change_order' item.item_id %}" method="POST">
                                        {% csrf_token %}
                                        <input name="size" value="{{ item.size }}">

                                        <input class="" type="number"
                                            name="qty" value="{{ item.qty }}" min="1" max="99"
                                            data-item_id="{{ item.id }}"
                                            id="id_qty_{{ item.id }}">
                                    </form>
                                    <a class="update-link"><small>Update</small></a>

                                </td>
                                <td>
                                    <p>{{ item.total }}</p>
                                </td>
                                <td>
                                    <a class="update-link"><small>Update</small></a>
                                    <a class="remove-item float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
            <div class="col-12 col-md-6 mobile-bg vert-align text-center ms-5 py-3">
                <h2>Oops, you didn't order anything yet!</h2>
                <a href="{% url 'products' %}?category=pizza" class="order-now-btn btn btn-lg rounded-0 text-uppercase py-3">Order Now</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/order/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}