{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Your Order</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if order_items %}
                <div class="table-responsive rounded-0">
                    <table class="table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Size</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in order_items %}
                            <tr>
                                <td>
                                    <img src="{{ item.product.image_path.url }}" alt="{{ item.product.name }}">
                                </td>
                                <td>
                                    <p>{{ item.product.display_name }}</p>
                                </td>
                                <td>
                                    <p>{{ item.size }}</p>
                                </td>
                                <td>
                                    <p>{{ item.price }}</p>
                                </td>
                                <td>
                                    <p>{{ item.qty }}</p>
                                </td>
                                <td>
                                    <p>{{ item.total }}</p>
                                </td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
            <div class="col-12 col-md-6 mobile-bg vert-align text-center ms-5 py-3">
                <h2>Oops, you didn't order anything yet!</h2>
                <a href="{% url 'products' %}?category=pizza" class="order-now-btn btn btn-lg rounded-0 text-uppercase py-3">Order Now</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}