{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% include 'layout/head.html' %}
    {% include 'layout/scripts.html' %}
</head>

<body>
    <div class="message-container">
        {% for message in messages %}
            {% include 'includes/toasts/toast_success.html' %}
        {% endfor %}
    </div>

    <header class="frost-bg px-5">
        {% include 'layout/header.html' %}
        {% include 'layout/nav.html' %}
    </header>


    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postload_js %}
    <script>
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, 'show')
        })
    </script>

    {% endblock %}

</body>

</html>