{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% include 'layout/head.html' %}
    {% include 'layout/scripts.html' %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta name="description" content="PizzaTime, pizza shop with free delivery in Towyn">
    <meta name="keywords" content="free delivery, pizza, pizza in Towyn, free delivery in Towyn">
</head>

<body>
    {% include 'components/messages.html' %}

    <header>
        <div class="d-lg-none">
            {% include 'layout/mobile_view.html' %}
        </div>
        <div class="d-none d-lg-block">
            {% include 'layout/desktop_view.html' %}
        </div>
    </header>

    <div class="overlay"></div>
    <div class="container d-flex align-items-center ">
        <div class="row m-0 mx-auto">
            {% block content %}
            {% endblock %}            
        </div>
    </div>

    {% block postload_js %}
        <script>
            // Code taken from Bootstrap 5 Documentation
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl, 'show')
            })
        </script>
    {% endblock %}
</body>

<footer>
    <div class="row m-0" id="footer">
        {% include 'layout/footer.html' %}
    </div>
    <div class="row m-0">
        <div class="col-12 text-center">
            <p>All rights reserved. PizzaTime Ltd. 2022</p>
        </div>
    </div>
</footer>

</html>