<script>
    // Size selection and producr price change
    $(document).ready(function () {
        $('input[class={{ product.name }}]').on('change', function () {
            if (this.value == 's') {
                $('#{{ product.name }}').val("{{ product.price_s }}");
                $('#size_{{ product.name }}').html("£{{ product.price_s }}");
            } else if (this.value == 'm') {
                $('#{{ product.name }}').val("{{ product.price_m }}");
                $('#size_{{ product.name }}').html("£{{ product.price_m }}");
            } else if (this.value == 'l') {
                $('#{{ product.name }}').val("{{ product.price_l }}");
                $('#size_{{ product.name }}').html("£{{ product.price_l }}");
            }
        });
    });

    // Disable +/- buttons outside 1-99 range
    // Code snippet taken from here:
    // https://codepen.io/gajusm/pen/aWyzNX
    let minVal = 1, maxVal = 9; // Set Max and Min values
    // Increase product quantity on cart page
    $("#inc_{{ product.id }}").on('click', function(e){
        e.preventDefault();
        let $parentElm = $(this).parents(".qty_selector");
        $(this).addClass("clicked");
        setTimeout(function(){
            $(".clicked").removeClass("clicked");
        },100);
        let value = $parentElm.find("#id_qty_{{ product.id }}").val();
        if (value < maxVal) {
            value++;
        }
        $parentElm.find("#id_qty_{{ product.id }}").val(value);
    });
    // Decrease product quantity on cart page
    $("#dec_{{ product.id }}").on('click', function(e){
        e.preventDefault();
        let $parentElm = $(this).parents(".qty_selector");
        $(this).addClass("clicked");
        setTimeout(function(){
            $(".clicked").removeClass("clicked");
        },100);
        let value = $parentElm.find("#id_qty_{{ product.id }}").val();
        if (value > 1) {
            value--;
        }
        $parentElm.find("#id_qty_{{ product.id }}").val(value);
    });

    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`New image: ${file.name}`);
    });

</script>
