{% for drink in drinks %}

<div class="col-12 col-md-6 col-lg-4">
    <div class="card bg-transparent h-100 border-0 text-center">
        <img src="{{ drink.image_path.url }}" alt="{{ drink.name }}" class="card-img-top img-fluid">
        <div class="card-body py-0">
            <h4 class="m-0 display-name">{{ drink.display_name }}</h4>
        </div>
        <form>
            <input type="radio" id="{{ drink.name }}_1" name="{{ drink.name }}" value="0.5L" checked />
            <label for="{{ drink.name }}_1">0.5 Litre</label>
            <input type="radio" id="{{ drink.name }}_2" name="{{ drink.name }}" value="1L" />
            <label for="{{ drink.name }}_2">1 Litre</label>
            <input type="radio" id="{{ drink.name }}_3" name="{{ drink.name }}" value="2L" />
            <label for="{{ drink.name }}_3">2 Litre</label>
        </form>
        <script>
            $(document).ready(function () {
                $('input[name={{ drink.name }}]').on('change', function () {
                    if (this.value == '0.5L') {
                        $('#{{ drink.name }}').html("{{ drink.price_s }}");
                    } else if (this.value == '1L') {
                        $('#{{ drink.name }}').html("{{ drink.price_m }}");
                    } else if (this.value == '2L') {
                        $('#{{ drink.name }}').html("{{ drink.price_l }}");
                    }
                });
            });
        </script>
        <div class="card-footer bg-transparent border-0 py-0 my-0">
            <p class="m-0 p-0" id="{{ drink.name }}">
                {{ drink.price_s }}
            </p>
        </div>
    </div>
</div>
{% endfor %}