{% for product in products %}

<div class="col-12 col-md-6 col-lg-4">
    <div class="card bg-transparent h-100 border-0 text-center">
        <img src="{{ product.image_path.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
        <div class="card-body py-0">
            <div class="row">
                <h4 class="my-2 display-name">{{ product.display_name }}</h4>
            </div>
            {% if product.toppings %}
            <div class="toppings-list my-2">
                {% for topping in product.toppings.all|dictsort:"display_name" %}
                    {{ topping.display_name }}{% if not forloop.last %}, {% else %}.{% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <form id="size-selection" action="{% url 'add_to_order' product.id %}" method="POST">
            {% csrf_token %}
            <div class="row justify-content-center my-2">
                <div class="col-3 p-0 ms-1">
                    <input type="radio" id="{{ product.name }}_s" class="{{ product.name }}" name="size" value="s" checked />
                    <label class="size-label px-0" for="{{ product.name }}_s">
                        {% if product.category.name == 'pizza' %}22cm
                        {% elif product.category.name == 'drink' %}0.5 Litre
                        {% endif %}
                    </label>
                </div>
                <div class="col-3 p-0 mx-1">
                    <input type="radio" id="{{ product.name }}_m" class="{{ product.name }}" name="size" value="m" />
                    <label class="size-label px-0" for="{{ product.name }}_m">
                        {% if product.category.name == 'pizza' %}32cm
                        {% elif product.category.name == 'drink' %}1 Litre
                        {% endif %}
                    </label>
                </div>
                <div class="col-3 p-0 me-1">
                    <input type="radio" id="{{ product.name }}_l" class="{{ product.name }}" name="size" value="l" />
                    <label class="size-label px-0" for="{{ product.name }}_l">
                        {% if product.category.name == 'pizza' %}40cm
                        {% elif product.category.name == 'drink' %}2 Litre
                        {% endif %}
                    </label>
                </div>
            </div>

            <div class="product-price row my-2">
                <input type="number" class="m-0 p-0 product-price remove-input-formatting" id="{{ product.name }}" name="price" value="{{ product.price_s }}" readonly>
            </div>

            <div class="input-group justify-content-center my-2">
                <button class="dec_{{ product.id }} dec-product-qty" data-item_id="{{ product.id }}" id="dec_{{ product.id }}">
                    <span class="icon">
                        <i class="fas fa-minus"></i>
                    </span>
                </button>
                    <input class="remove-input-formatting product-qty" type="number" name="qty" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                <button class="inc_{{ product.id }} inc-product-qty" data-item_id="{{ product.id }}" id="inc_{{ product.id }}">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>

            <div class="card-footer bg-transparent border-0 py-0 my-2">
                <input class="add-to-order-button" type="submit" value="Add to Order">
            </div>
        </form>
    </div>
</div>

<script>
    // This script stays inside the html file for django templating to work.
    $(document).ready(function () {
        $('input[class={{ product.name }}]').on('change', function () {
            if (this.value == 's') {
                $('#{{ product.name }}').val("{{ product.price_s }}");
            } else if (this.value == 'm') {
                $('#{{ product.name }}').val("{{ product.price_m }}");
            } else if (this.value == 'l') {
                $('#{{ product.name }}').val("{{ product.price_l }}");
            }
        });
    });

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#dec_${itemId}`).prop('disabled', minusDisabled);
        $(`#inc__${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.product-qty');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.product-qty').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity

    $('.inc_{{ product.id }}').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.product-qty')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.dec_{{ product.id }}').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.product-qty')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });
</script>
{% endfor %}