{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

<p class="text-muted">Please fill out the form to proceed with your order.</p>

<form id="checkout-form" action="{% url 'checkout' %}" method="POST">
    {% csrf_token %}
    <fieldset class="rounded p-3 my-2">
        <legend class="fieldset-label small text-black w-auto ms-2">Contact Details</legend>
        {{ order_form.f_name | as_crispy_field }}
        {{ order_form.l_name | as_crispy_field }}
        {{ order_form.email | as_crispy_field }}
        {{ order_form.phone_number | as_crispy_field }}
    </fieldset>
    <fieldset class="rounded p-3 my-2">
        <legend class="fieldset-label small text-black w-auto ms-2">Delivery Details</legend>
        {{ order_form.street_address1 | as_crispy_field }}
        {{ order_form.street_address2 | as_crispy_field }}
        {{ order_form.postcode | as_crispy_field }}
        {{ order_form.city | as_crispy_field }}
        <div class="form-check form-check-inline float-right mr-0">
            {% if user.is_authenticated %}
            <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
            {% else %}
            <label class="form-check-label" for="id-save-info">
                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
            </label>
            {% endif %}
        </div>
    </fieldset>
    <fieldset class="rounded p-3 my-2">
        <legend class="fieldset-label small text-black w-auto ms-2">Payment Details</legend>

        <!-- Stripe card element goes here -->
        <div class="mb-3" id="payment-element"></div>

        <!-- Error display -->
        <div class="mb-3 text-danger text-start ms-2" id="payment-errors" role="alert"></div>

        <!-- Pass client secret to the view to get pid -->
        <input type="hidden" value="{{ client_secret }}" name="client_secret">
    </fieldset>

    <div class="submit-button text-right my-3">
        <a href="{% url 'order' %}" class="btn btn-outline-black rounded-0">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Adjust Order</span>
        </a>
        <button id="submit-button" class="order-now-btn checkout-submit-button">
            <span>Complete Order</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </button>
        <p class="small text-danger my-3">
            <span class="icon">
                <i class="fas fa-exclamation-circle"></i>
            </span>
            <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
        </p>
    </div>
</form>

<!-- Validation error fix found here:
https://stackoverflow.com/questions/21636850/jquery-validation-plugin-typeerror-validate-is-not-a-function -->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_postcode').keyup(function(){
            $(this).val($(this).val().toUpperCase());
        });

        $("#checkout-form").validate();
        $.validator.addMethod(
            "postcode",
            function (value, element, regexp) {
                var check = false;
                var re = new RegExp(regexp);
                return this.optional(element) || re.test(value);
            },
            'Please enter a valid postcode! Example: AB12 3CD'
        );
        $("#id_postcode").rules("add", {
            postcode: "^([a-zA-Z]){1}([0-9][0-9]|[0-9]|[a-zA-Z][0-9][a-zA-Z]|[a-zA-Z][0-9][0-9]|[a-zA-Z][0-9]){1}([        ])([0-9][a-zA-z][a-zA-z]){1}$"
        });
    });

    $(document).ready(function () {

        // Code idea taken from here:
        // https://www.techiedelight.com/conditionally-enable-disable-button-javascript/#:~:text=Using%20jQuery,element%20is%20enabled%20or%20disabled.

        let postcode_list = [
            'L22 9EL', 'LL22 9EN', 'LL22 9EP', 'LL22 9ER', 'LL22 9ES', 'LL22 9ET',
            'LL22 9EU', 'LL22 9EW', 'LL22 9EY', 'LL22 9HA', 'LL22 9HB', 'LL22 9HD',
            'LL22 9HE', 'LL22 9HF', 'LL22 9HG', 'LL22 9HH', 'LL22 9HL', 'LL22 9HN',
            'LL22 9HP', 'LL22 9HQ', 'LL22 9HR', 'LL22 9HS', 'LL22 9HT', 'LL22 9HU',
            'LL22 9HW', 'LL22 9HY', 'LL22 9JA', 'LL22 9LA', 'LL22 9LB', 'LL22 9LD',
            'LL22 9LE', 'LL22 9LF', 'LL22 9LG', 'LL22 9LH', 'LL22 9LJ', 'LL22 9LL',
            'LL22 9LN', 'LL22 9LP', 'LL22 9LQ', 'LL22 9LR', 'LL22 9LS', 'LL22 9LT',
            'LL22 9LU', 'LL22 9LW', 'LL22 9LX', 'LL22 9LY', 'LL22 9LZ', 'LL22 9NA',
            'LL22 9NB', 'LL22 9ND', 'LL22 9NE', 'LL22 9NF', 'LL22 9NG', 'LL22 9NH',
            'LL22 9NJ', 'LL22 9NL', 'LL22 9NN', 'LL22 9NP', 'LL22 9NQ', 'LL22 9NR',
            'LL22 9NS', 'LL22 9NT', 'LL22 9NU', 'LL22 9NW', 'LL22 9NX', 'LL22 9NY',
            'LL22 9NZ', 'LL22 9PA', 'LL22 9PB', 'LL22 9PD', 'LL22 9PE', 'LL22 9PF',
            'LL22 9PG', 'LL22 9PH', 'LL22 9PJ', 'LL22 9SE', 'LL22 9WA', 'LL22 9WB',
            'LL22 9WG', 'LL22 9WP', 'LL22 9WR', 'LL22 9WS', 'LL22 9WT', 'LL22 9WU',
            'LL22 9YT', 'LL22 9YX'
        ];

        $('.checkout-submit-button').attr('disabled', 'disabled');

        $('input[id=id_postcode]').on('input', function () {
            if (postcode_list.indexOf($(this).val()) > -1) {
                $('.checkout-submit-button').removeAttr("disabled");
            } else {
                $('.checkout-submit-button').attr('disabled', 'disabled');
            }
        });
    });
</script>