{% load static %}
<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-6">
        <div class="order-confirm-border bg-white bg-opacity-50 p-3">
            <div class="p-2">
                <div class="row mt-1">
                    <div class="col">
                        <small class="text-muted">Order Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.order_id }}</p>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col">
                        <small class="text-muted">Order Details:</small>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                <div class="row mb-1">
                    <div class="col-12 col-md-8">
                        <p class="mb-0 text-black font-weight-bold">
                            {{ item.qty }}
                            {% if item.size == "s" %}Small
                            {% elif item.size == "m" %}Medium
                            {% elif item.size == "l" %}Large
                            {% else %}
                            {% endif %}
                            {{ item.product.display_name }}{% if item.qty == "1" %}{% else %}'s{% endif %}
                        </p>
                    </div>

                    <div class="col-12 col-md-4 text-md-end">
                        <p class="mb-0">
                            {% if item.size == "s" %}£{{ item.product.price_s }}
                            {% elif item.size == "m" %}£{{ item.product.price_m }}
                            {% elif item.size == "l" %}£{{ item.product.price_l }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}

                <div class="row mt-1">
                    <div class="col">
                        <small class="text-muted">Delivering To:</small>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-black font-weight-bold">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="small mb-0">{{ order.f_name }} {{ order.l_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-black font-weight-bold">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="small mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-black font-weight-bold">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="small mb-0">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-black font-weight-bold">City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="small mb-0">{{ order.city }}</p>
                    </div>
                </div>

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-black font-weight-bold">Post Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="small mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row mb-1">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-black font-weight-bold">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="small mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col">
                        <small class="text-muted">Billing Info:</small>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0"> <strong>£{{ order.order_total }}</strong> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-12 text-center">
        {% if request.user.is_authenticated %}
            <p class="small text-muted mb-3 mt-5">You can see all your orders in your profile page.</p>
            <a href="{% url 'profile' %}" class="order-now-btn">My Profile</a>
        {% else %}
            <p class="small text-muted mb-3 mt-5">You can <a href="{% url 'account_signup' %}">sign up</a> to save your delivery details for next time.</p>
            <a href="{% url 'home' %}" class="order-now-btn">Home</a>
        {% endif %}
    </div>
</div>
