<script>
    // Update quantity on click
    $('.update-link').click(function (e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let size = $(this).data('product_size');
        let qty = $(this).data('product_qty');
        let url = `/order/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size,
            'product_qty': qty
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

    // Disable +/- buttons outside 1-99 range
    // Code snippet taken from here:
    // https://codepen.io/gajusm/pen/aWyzNX
    var minVal = 1, maxVal = 9; // Set Max and Min values
    // Increase product quantity on cart page
    $("#inc_{{ item.product.id }}").on('click', function(e){
        e.preventDefault();
        var $parentElm = $(this).parents(".qty_selector");
        var value = $parentElm.find("#id_qty_{{ item.product.id }}").val();
        if (value < maxVal) {
            value++;
        }
        $parentElm.find("#id_qty_{{ item.product.id }}").val(value);
    });
    // Decrease product quantity on cart page
    $("#dec_{{ item.product.id }}").on('click', function(e){
        e.preventDefault();
        var $parentElm = $(this).parents(".qty_selector");
        var value = $parentElm.find("#id_qty_{{ item.product.id }}").val();
        if (value > 1) {
            value--;
        }
        $parentElm.find("#id_qty_{{ item.product.id }}").val(value);
    });
</script>
