<div class="row d-flex align-items-center px-5 m-0">
    <div class="col-lg-3">
        <a href="{% url 'home' %}" class="nav-link main-header-link">
            <h2 class="logo-font my-0 text-uppercase">Pizza Time</h2>
        </a>
    </div>
    <div class="col-lg-6">
        <div class="row pt-1">
            <div class="col-lg-12 text-center">
                <a href="#" class="main-header-link">
                    <i class="fas fa-map-marker-alt address-icon me-1"></i>
                    Street Name 123, City, P057 C0D3, Country
                </a>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="col-lg-12 navbar-nav justify-content-center">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-link" href="{% url 'products' %}?category=pizza">Pizzas</a>
                    <a class="nav-link" href="{% url 'products' %}?category=drink">Drinks</a>
                    <a class="nav-link" href="#">Delivery</a>
                    <a class="nav-link" href="#">About</a>
                    <a class="nav-link" href="#">Contact Us</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="col-lg-3">
            <ul class="list-inline list-unstyled text-lg-end m-0">
                <li class="list-inline-item main-header-link dropdown">
                    <a class="nav-link position-relative" href="#" id="my-account" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-user-circle menu-icon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="my-account">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'admin:index' %}" class="dropdown-item">Admin</a>
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item main-header-link ">
                    <a class="nav-link position-relative grand-total" href="{% url 'order' %}">
                        <i class="fas fa-shopping-basket menu-icon"></i>
                        <span class="position-absolute top-100 start-50 translate-middle badge rounded-pill bg-success">
                            {% if grand_total %}
                            £ {{ grand_total|floatformat:2 }}
                            {% else %}
                            £
                            {% endif %}
                            <span class="visually-hidden"></span>
                        </span>
                    </a>
                </li>
            </ul>
    </div>
</div>
