<div class="row p-0 m-0 text-center">
    <a href="{% url 'home' %}" class="nav-link main-header-link p-0 m-0">
        <h2 class="logo-font m-0 p-0 text-uppercase">Pizza Time</h2>
    </a>
</div>
<div class="row p-0 m-0 d-flex align-items-center main-nav">
    <div class="col-7">
        <i class="fas fa-map-marker-alt main-color"></i>
        {% for a in address %}
        <a href="http://maps.google.com/?q={{ a.street_name1 }}, {% if a.street_name2 %}{{ a.street_name2 }}, {% endif %}{{ a.city }}, {{ a.postcode }}" 
           target="_blank" rel="noopener" class="text-black">
            {{ a.street_name1 }},
            {% if a.street_name2 %}
            {{ a.street_name2 }},
            {% endif %}
            {{ a.city }},
            {{ a.postcode|upper }}
        </a>
        {% endfor %}
</div>
    <div class="col-5">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-end">
            <a href="{% url 'order' %}" class="text-black position-relative grand-total me-2">
                <i class="fas fa-shopping-basket menu-icon"></i>
                {% if grand_total %}
                <span class="position-absolute top-50 end-0 translate-middle badge rounded-pill main-bg-color text-black">
                    £ {{ grand_total|floatformat:2 }}
                    <span class="visually-hidden">unread messages</span>
                </span>
                {% else %}
                {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="col-12 collapse navbar-collapse " id="navbarSupportedContent">
        <div class="navbar-nav text-center ">
            <a class="nav-link text-black" href="{% url 'home' %}">Home</a>
            <hr class="w-50 mx-auto">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a class="nav-link text-black" href="{% url 'admin:index' %}">Admin</a>
            <a class="nav-link text-black" href="{% url 'add_product' %}">Product Management</a>
            {% endif %}
            <a class="nav-link text-black" href="{% url 'profile' %}">My Profile</a>
            <a class="nav-link text-black" href="{% url 'account_logout' %}">Logout</a>
            {% else %}
            <a class="nav-link text-black" href="{% url 'account_signup' %}">Register</a>
            <a class="nav-link text-black" href="{% url 'account_login' %}">Login</a>
            {% endif %}
            <hr class="w-50 mx-auto">
            <a class="nav-link text-black" href="{% url 'products' %}?category=pizza">Pizzas</a>
            <a class="nav-link text-black" href="{% url 'products' %}?category=drink">Drinks</a>
            <a class="nav-link text-black" href="{% url 'info' %}">About</a>
            <a class="nav-link text-black" href="{% url 'contact_us' %}">Contact Us</a>
        </div>
    </div>
</div>