<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <!-- Toggle burger button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Desktop navigation -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'products' %}?category=pizza">Pizzas</a>
                <a class="nav-link" href="{% url 'products' %}?category=drink">Drinks</a>
                <a class="nav-link" href="#">Delivery</a>
                <a class="nav-link" href="#">Allergy Advice</a>
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="#">Contact Us</a>
            </div>
        </div>
    </div>
</nav>
